{% block content %} {% load widget_tweaks %}

  <div class="form-group">
    <form action="{% url 'add_answer' answer.question.id %}" method="post">
    {% csrf_token %}
      <p>
        {% render_field answer_form.answer class="form-control mb-2" placeholder="Paste a video url" %}
        <span>Post as Anonymous </span>{%render_field answer_form.is_anon class="form-check-input mb-2" %}
        <div class="mt-2">
          <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
      </p>
    </form>

  </div>



{% endblock %}
