{% extends 'base.html' %} {% block content %}

<h1 class="text-center">Edit Profile</h1>

<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-3">
    <div class="d-flex align-items-center">
      <div class="image">
        <img
          src="https://cdn0.iconfinder.com/data/icons/internet-2020/1080/tiktokgradient-512.png"
          class="rounded"
          width="155"
        />
      </div>
      <form action="" method="post">
        <!-- Django requires the following for security purposes -->
        {% csrf_token %}
        <table>
          <!-- Render the inputs inside of <tr>s & <td>s -->
          {{ form.as_table }}
        </table>
        <div class="flex-row align-content-center">
          <input
            type="submit"
            value="Submit!"
            class="button mt-2 d-flex flex-row align-items-center btn btn-sm btn-outline-primary"
          />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
