{% extends 'base_registration.html' %} {% block content %}

<div class="pt-md-5"></div>

<ul class="list-group list-group-flush">
  <li class="list-group-item mt-2 border-bottom qtext fs-5">Account Settings</li>
  <li class="list-group-item mt-2 border-bottom">

  <div class="form-group">
<form action="{% url 'profile_update' member.id %}" method="post">
    {% csrf_token %}
      <table>
    {% for field in form %}
    {% load widget_tweaks %}
     <p>
      {{ field.label_tag }}<br>
      {{ field|add_class:"form-control" }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
      </table>
      <input type="submit" value="Save" class="btn btn-primary mt-2 mb-3" />
    </div>
  </form>
    </div>
    </li>
</ul>


{% comment %} <div class="form-group">
  <form action="{% url 'question_update' question.id %}" method="post">
    {% csrf_token %}
      <table>
    {% for field in form %}
    {% load widget_tweaks %}
     <p>
      {{ field.label_tag }}<br>
      {{ field|add_class:"form-control" }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
      </table>
      <input type="submit" value="Save" class="btn btn-primary mt-2" />
    </div>
  </form>
</div> {% endcomment %}




{% endblock %}
