{% extends 'base_registration.html' %} {% block content %}

<div class="pt-md-5"></div>

<ul class="list-group list-group-flush border-bottom">
  <li class="list-group-item mt-2 border-bottom">Account Settings</li>
  <li class="list-group-item mt-2 border-bottom">
    <form action="" method="post">
      <!-- Django requires the following for security purposes -->
      {% csrf_token %}
      <table>
        <!-- Render the inputs inside of <tr>s & <td>s -->
        {{ form.as_table }}
      </table>
      <div class="flex-row align-content-center">
        <input
          type="submit"
          value="Update"
          class="button mt-2 d-flex flex-row align-items-center btn btn-outline-primary"
        />
      </div>
    </form>
  </li>
</ul>

{% endblock %}
