{% extends 'base_registration.html' %} {% block content %}

<div class="pt-md-5"></div>

<div class="card">
  <div class="d-flex align-items-center justify-content-center">
    <div class="image">
        {% if member.photo_set.all %}
        <img
          class="responsive-img card-panel image-detail"
          src="{{ member.photo_set.last.url }}"
          width="155"
          height="155"
        />
        {% else %}
        <img
          src="https://cdn0.iconfinder.com/data/icons/internet-2020/1080/tiktokgradient-512.png"
          class="rounded"
          width="155"
        />
        {% endif %}
      </div>
      <form
        action="{% url 'change_photo' member.id %}"
        enctype="multipart/form-data"
        method="POST"
        class="card-panel"
      >
        {% csrf_token %}
        <input type="file" name="photo-file" />
        <br /><br />
        <input
          type="submit"
          class="btn btn-outline-primary"
          value="Upload Photo"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
