{% block content %} {% load widget_tweaks %}

<div class="form-group">
  <form action="{% url 'question_create' %}" method="post">
    {% csrf_token %}

    <p>
      <p class="mb-2">
      {% render_field question_form.question class="form-control" placeholder="Start your question with What, How, Why, etc." %}
      </p>
      
      <div class="input-group mb-2">
        <label class="input-group-text" for="inputGroupSelect01">Select Category</label>
          {%render_field question_form.category class="form-control" %}
      </div>
 
      {% comment %} <p class="mb-2">
        <span>Post as Anonymous </span>{%render_field question_form.is_anon class="form-check-input mb-2" %}
      </p> {% endcomment %}
    </p>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cancel
      </button>
      <input type="submit" value="Add Question" class="btn btn-primary" />
    </div>
  </form>
</div>

{% endblock %}
