{% extends 'base_registration.html' %} {% block content %}

<div class="pt-md-5"></div>

<h3 class="mb-3">Log In</h3>

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      name="username"
      placeholder="Username"
    />
  </div>
  <br />
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
    />
  </div>
  <p class="mb-3">
    Not Registered? Sign Up <a href="/accounts/signup/">Here.</a>
  </p>
  <input type="submit" class="btn btn-outline-primary" value="login" />
  <input type="hidden" name="next" value="{{next}}" />
</form>

{% endblock %}
