nav {
  background-color: white !important;
}

body {
  font-family: "Poppins", sans-serif;
}

.qtext {
  font-weight: 700;
}

.heart {
  text-align: center;
}

.image-detail {
  border-radius: 50%;
  margin-right: 25px;
}

.nounderline {
  text-decoration: none !important;
}
