nav {
  background-color: white !important;
}

body {
  font-family: "Poppins", sans-serif;
}

.qtext {
  font-weight: 700;
}

.heart {
  text-align: center;
}

.single-post blockquote.tiktok-embed:before {
  display: none;
}
@media (max-width: 767px) {
  .entry-title {
    padding-left: 0px;
  }
}
@media (max-width: 320px) {
  .entry-title {
    margin-left: -22px;
  }
}
