{% extends 'base.html' %} {% block content %}

<h1 class="text-center">Profile</h1>

<div class="container mt-5 d-flex justify-content-center">
  <div class="card p-3">
    <div class="d-flex align-items-center">
      <div class="image">
        {% if member.photo_set.all %}
        <img
          class="responsive-img card-panel image-detail"
          src="{{ member.photo_set.last.url }}"
          width="155"
          height="155"
        />
        {% else %}
        <img
          src="https://cdn0.iconfinder.com/data/icons/internet-2020/1080/tiktokgradient-512.png"
          class="rounded"
          width="155"
        />
        {% endif %}
      </div>
      <div class="ml-3 w-100">
        <h4 class="mb-0 mt-0">
          {{ member.first_name }} {{ member.last_name }}
        </h4>
        <span>Username: {{ member.user }}</span>
        <br />
        <span>Email: {{ member.email }}</span>
        <div
          class="p-2 mt-2 bg-primary d-flex justify-content-center rounded text-white stats"
        >
          <div class="row text-center">
            <span class="articles">Points {{ member.points }}</span>
          </div>
        </div>
        <div class="button mt-2 d-flex flex-row align-items-center">
          <button class="btn btn-sm btn-outline-primary w-100">
            <a class="nounderline" href="{% url 'profile_update' member.id %}">
              Edit Profile
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <h3>{{ member.first_name }}'s Questions</h3>
    {% if user_questions %}
      {% for question in user_questions %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ question.question }}</span>
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Questions Yet</h5>
    {% endif %}
</div>
<hr />
<div class="row">
  <h3>{{ member.first_name }}'s Answers</h3>
    {% if user_answers %}
      {% for answer in user_answers %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ answer.question }}</span>
              <span>{{ answer.answer }}</span>
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Answers Yet</h5>
    {% endif %}
</div>

  {% endblock %}
</div>
